body {
  padding: 20px;
  background: url("../img/archeryfield.jpg"); }

.table-background {
  background-color: #FFF; }

@media (max-width: 767px) and (max-height: 400px) {
  .table-height {
    overflow-y: scroll;
    max-height: 360px; } }

@media (max-width: 767px) and (max-height: 500px) {
  .table-height {
    overflow-y: scroll;
    max-height: 460px; } }

@media (max-width: 767px) and (max-height: 600px) {
  .table-height {
    overflow-y: scroll;
    max-height: 560px; } }

@media (min-width: 768px) and (max-height: 400px) {
  .table-height {
    overflow-y: scroll;
    max-height: 360px; } }

@media (min-width: 768px) and (max-height: 500px) {
  .table-height {
    overflow-y: scroll;
    max-height: 460px; } }

@media (min-width: 768px) and (max-height: 600px) {
  .table-height {
    overflow-y: scroll;
    max-height: 560px; } }

.form-center {
  text-align: center; }

.panel-center {
  margin-top: auto; }
